body,
html {
  height: 100%;
}

body {
  background-color: $default;
  font-size: 16px;
  //display: flex;
  //flex-direction: column;
}

//.main{
//  //flex-grow: 1;
//}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  &--large {
    max-width: 1800px;
    padding: 0 15px;
  }
}

.text {
  @extend %rubik-400;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.title {
  @extend %dmsans-700;
  font-size: 36px;
  color: $black;
  text-align: center;
  margin-bottom: 25px;
}

.filter {
  text-align: center;
  margin-bottom: 75px;
  &__btn {
    @extend %dmsans-700;
    font-size: 16px;
    color: #8b8b8b;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: transparent;
    //margin-right: 25px;
    transition: color 0.3s;
    &:not(:last-child) {
      margin-right: 25px;
    }
    &:hover {
      color: $black;
    }

    &:focus {
      color: $black;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.circle {
  padding-top: 8px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s;
  border: transparent;
}

.btn {
  @extend %rubik-400;
  font-size: 15px;
  padding: 22px 100px 22px 18px;
  transition: background-color 0.3s;
}
