@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  padding-top: 40px;
  margin-bottom: 45px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    &__item:not(:last-child) {
      margin-right: 30px;
    }
    &__link {
      font-size: 15px;
      @extend %rubik-500;
      color: $gree-blue;
    }
  }

  .use {
    display: flex;

    &__btn-search {
      border-radius: 50%;
      background-color: $gree-blue;
      width: 50px;
      height: 50px;
      transition: background-color 0.3s;
      border: transparent;
      &:hover {
        background-color: $darkblue;
      }
    }

    .item--2,
    .item--3 {
      margin-top: 18px;
    }

    &__link-heart {
      padding: 23px 30px 13px 42px;
      background-color: $pink;
      border-radius: 25px 0 0 25px;
    }

    &__heart {
      width: 17px;
      height: 17px;
      background-color: $pink;
    }

    &__link-basket {
      padding: 23px 30px 13px 42px;
      background-color: $pink;
      border-radius: 0 25px 25px 0;
    }

    &__basket {
      width: 17px;
      height: 17px;
    }

    &__btn-menu {
      background-color: $gree-blue;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      transition: background-color 0.3s;
      border: transparent;
      &:hover {
        background-color: $darkblue;
      }
    }

    &__menu {
      fill: $default;
    }
  }
}

.top-slider {
  margin-bottom: 65px;

  &__inner {
    margin-bottom: 42px;
  }

  &__item {
    padding: 220px 50px 255px 0;
    display: flex !important;
    justify-content: center;
    background-color: $pink;
    align-items: center;
    position: relative;
    &::after {
      content: "";
      background-image: url("../images/slider/slider-circle.png");
      position: absolute;
      top: 60px;
      right: 50px;
      width: 634px;
      height: 634px;
      z-index: 1;
    }
  }

  &__content {
    padding-right: 100px;
  }

  &__name {
    @extend %rubik-500;
    max-width: 411px;
    font-size: 72px;
    @include text-clamp;
    line-height: 1;
    color: #243f4d;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  &__text {
    @include text-clamp;
    color: #436372;
    font-size: 18px;
    line-height: 1.6;
    max-width: 360px;
    margin-bottom: 70px;
  }

  &__link {
    @extend %rubik-400;
    font-size: 15px;
    color: $default;
    padding: 22px 100px 22px 18px;
    background-color: $gree-blue;
    transition: background-color 0.3s;
    position: relative;
    &:hover {
      background-color: $darkblue;
    }
  }

  &__arrow {
    position: absolute;
    right: 25px;
    fill: $default;
  }

  &__img {
    position: relative;
    z-index: 2;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: -70px;

    li {
      padding: 0 10px;

      button {
        @extend %rubik-400;
        border: none;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        cursor: pointer;
        opacity: 0.4;
        outline: transparent;
      }
      &.slick-active {
        button {
          opacity: 0.9;
          background-color: $default;
          color: #243f4d;
        }
      }
    }
  }

  .services {
    background-color: #fef7f0;

    &__inner {
      display: flex;
      height: 170px;
    }

    &__item {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      padding-left: 180px;
      width: 565px;
      //padding: 55px 150px 45px 220px;
      //padding: 55px 0 45px;
      &:not(:last-child) {
        border-right: 1px solid rgba(36, 63, 77, 0.1);
      }
    }

    &__support,
    &__delivery,
    &__secure {
      position: absolute;
      fill: #a3bbc8;
      left: 110px;
    }

    &__title {
      @extend %dmsans-500;
      @include text-clamp;
      font-size: 18px;
      line-height: 1.4;
      margin-bottom: 10px;
      text-align: left;
    }

    &__text {
      @extend %dmsans-400;
      @include text-clamp;
      font-size: 16px;
      line-height: 1.2;
    }
  }
}

.products-week {
  margin-bottom: 185px;

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, 380px);
    grid-gap: 35px;
    text-align: center;
    justify-content: center;
  }

  .products-card {
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    padding: 40px 40px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: box-shadow 0.3s;
    position: relative;
    &:hover {
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.2);
    }
    &:hover .products-card__nav {
      opacity: 1;
    }

    &__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &__img {
      margin-bottom: 75px;
    }

    &__nav {
      position: absolute;
      top: 200px;
      left: 40px;
      opacity: 0;
    }

    &__search,
    &__basket,
    &__heart {
      background-color: $pink;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      padding: 12px;
      margin-right: 25px;
      transition: background-color 0.3s;
      &:hover {
        background-color: $gree-blue;
        fill: $default;
      }
    }

    &__name {
      @extend %dmsans-500;
      font-size: 16;
      margin-bottom: 5px;
      color: #243f4d;
    }

    &__num {
      @extend %dmsans-700;
      color: #a3bbc8;
    }
  }
}

.view-more {
  margin-bottom: 95px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  .view-cards {
    display: flex;
    width: 49%;
    background-color: #feefe2;
    position: relative;

    &__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &__img {
      margin: -95px 0 75px 135px;
    }

    .lamp--01 {
      margin-right: 85px;
    }

    .lamp--02 {
      margin-right: 200px;
    }

    &__name {
      @extend %dmsans-700;
      @include text-clamp;
      margin: 100px 0 10px;
      width: 250px;
      font-size: 26px;
      line-height: 1.2;
    }

    &__text {
      @include text-clamp;
      margin-bottom: 50px;
      font-size: 16px;
    }

    &__link {
      position: relative;
      border: 1px solid #b3b7b5;
      border-radius: 10px;
      color: #436372;
      transition: background-color 0.3s;
      cursor: pointer;
      &:hover {
        background-color: $darkblue;
        color: $default;
        fill: $default;
        border: transparent;
      }

      &:hover .view-cards__arrow {
        fill: $default;
      }
    }

    &__arrow {
      position: absolute;
      right: 25px;
      fill: #436372;
    }
  }
}

.new-design {
  margin-bottom: 120px;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(2, 250px);
    grid-gap: 30px;
    justify-content: center;
  }
  .design-card {
    background-color: #f8f8f8;
    padding: 35px 0 0 35px;
    position: relative;
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.2);
    }

    &__wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &__name {
      @include text-clamp;
      @extend %dmsans-700;
      font-size: 20px;
      width: 171px;
      margin-bottom: 10px;
    }

    &__category {
      @include text-clamp;
      @extend %dmsans-700;
      color: $gree-blue;
      font-size: 16px;
    }

    &__img {
      position: absolute;
      bottom: 35px;
      right: 0;
    }

    .img--3 {
      right: 60px;
      bottom: 55px;
    }

    .img--5 {
      right: 30px;
    }
  }
}

.video-view {
  margin-bottom: -61px;
  &__link {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  //.Ellipse_11 {
  //  border-radius: 50%;
  //  background-color: rgb(163, 187, 200);
  //  opacity: 0.4;
  //  position: absolute;
  //  left: 897px;
  //  top: 3836px;
  //  width: 127px;
  //  height: 127px;
  //  z-index: 72;
  //}

  &__circle {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gree-blue;
    border-radius: 50%;
  }

  &__play {
    width: 22px;
    height: 25px;
    fill: $default;
  }
}

.our-insights {
  transform: translateY(171px);
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__link {
    margin-top: -10px;
    @extend %dmsans-700;
    transition: all 0.3s;
    &:hover,
    .our-insights__arrow:hover {
      color: $darkblue;
      fill: $darkblue;
    }
  }

  &__arrow {
    width: 7px;
    height: 12px;
    margin-left: 15px;
  }

  &__items {
    display: flex;
    justify-content: center;
  }
  .information-card {
    max-width: 370px;
    background-color: $default;
    border-radius: 0 6px 6px;
    position: relative;
    &:not(:last-child) {
      margin-right: 35px;
    }

    &__wrapper {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      position: absolute;
    }

    &__info {
      transform: translate(20px, -18px);
      font-size: 14px;
      display: inline-block;
      @extend %poppins-700;
      color: $default;
      padding: 6px 37px;
      border-radius: 25px;
      background-color: $gree-blue;
    }

    &__list {
      padding: 0 30px 25px;
    }

    &__text {
      @extend %dmsans-500;
      padding-bottom: 14px;
      position: relative;
      max-width: 266px;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        border-bottom: 1px solid #e0e0e0;
        width: 305px;
      }
      &--3 {
        padding-bottom: 35px;
      }
    }

    &__bottom {
      display: inline-block;
      margin-top: 20px;
      font-size: 14px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}

.companions {
  background-color: #fef7f0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 262px 0 84px;
  }

  .logo {
    height: 100%;
  }

  .slick-dots {
    display: none;
  }
  .slick-slide .slick-current .slick-active {
    width: 0;
  }
}

//@import "./components/header";
//@import "./components/top-slider";
//@import "./components/products-week";
//@import "./components/view-more";
//@import "./components/new-design";
//@import "./components/vide-view";
//@import "./components/our-insights";
//@import "./components/companions";
//@import "./components/footer-top";
//@import "./components/footer-bottom";

@import "media";
