<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="icon" href="images/icons/favicon.png">
  <link rel="stylesheet" href="css/index.min.css">
</head>

<body>

  {% include ('app/modules/header/_header.html') %}

  <main class="main">
    <section class="top-slider">
      <h2 class="sr-only">smart and
        trendy</h2>
      <div class="container container--large">
        <div class="top-slider__inner">
          <div class="top-slider__item">
            <div class="top-slider__content">
              <div class="top-slider__name">
                smart and
                trendy
              </div>
              <div class="top-slider__text text">
                <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
              </div>

              <a class="top-slider__link btn" href="#">
                Shop Now
                <svg class="top-slider__arrow" style="width: 21px; height: 21px">
                  <use xlink:href=" images/sprite.svg#arrow"></use>
                </svg>
              </a>
            </div>
            <img class="top-slider__img" src="images/slider/slider-photo.png" alt="slide images"
              style="width: 665px; height: 275px;">
          </div>
          <div class="top-slider__item">
            <div class="top-slider__content">
              <div class="top-slider__name">
                smart and
                trendy
              </div>
              <div class="top-slider__text text">
                <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
              </div>
              <a class="top-slider__link" href="#">
                Shop Now
                <svg class="top-slider__arrow" style="width: 21px; height: 21px">
                  <use xlink:href=" images/sprite.svg#arrow"></use>
                </svg>
              </a>
            </div>
            <img class="top-slider__img" src="images/slider/slider-photo.png" alt="slide images"
              style="width: 665px; height: 264px;">
          </div>
          <div class="top-slider__item">
            <div class="top-slider__content">
              <div class="top-slider__name">
                smart and
                trendy
              </div>
              <div class="top-slider__text text">
                <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
              </div>
              <a class="top-slider__link" href="#">
                Shop Now
                <svg class="top-slider__arrow" style="width: 21px; height: 21px">
                  <use xlink:href=" images/sprite.svg#arrow"></use>
                </svg>
              </a>
            </div>
            <img class="top-slider__img" src="images/slider/slider-photo.png" alt="slide images"
              style="width: 665px; height: 264px;">
          </div>
        </div>
        <div class="services">
          <div class="services__inner">
            <div class="services__item">
              <svg class="services__support" style="width: 50px; height: 50px">
                <use xlink:href=" images/sprite.svg#time"></use>
              </svg>
              <h4 class="services__title">Support 24/7.</h4>
              <div class="services__text">
                <p> Contact us 24 hours a day,
                  7 days a week.</p>
              </div>
            </div>
            <div class="services__item">
              <svg class="services__delivery" style="width: 50px; height: 50px">
                <use xlink:href=" images/sprite.svg#fdelivery-truck"></use>
              </svg>
              <h4 class="services__title">Delivery.</h4>
              <div class="services__text">
                <p>Free shipping on all US order.</p>
              </div>
            </div>
            <div class="services__item">
              <svg class="services__secure" style="width: 50px; height: 50px">
                <use xlink:href=" images/sprite.svg#ecredit-card"></use>
              </svg>
              <h4 class="services__title">100% Payment secure.</h4>
              <div class="services__text">
                <p> We ensure secure payment
                  with PEV.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="products-week">
      <div class="container container--large">
        <div class="products-week__title title">Products of the week</div>
        <div class="filter">
          <button class="filter__btn" data-filter="all" type="button">All</button>
          <button class="filter__btn" data-filter=".category-a" type="button">Furnitures</button>
          <button class="filter__btn" data-filter=".category-b" type="button">Chairs</button>
          <button class="filter__btn" data-filter=".category-c" type="button">Lighting</button>
          <button class="filter__btn" data-filter=".category-d" type="button">Decor</button>
        </div>

        <div class="products-week__items">
          <article class="products-card  mix category-a">
            <a class="products-card__wrapper" href="#"></a>
            <a class="products-card__link" href="#">
              <img class="products-card__img" src="images/products/chair-1.png" alt="chair">
            </a>
            <div class="products-card__nav">
              <button class="products-card__btn">
                <svg class="products-card__search">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </button>
              <a class="products-card__link" href="#">
                <svg class="products-card__basket">
                  <use xlink:href="images/sprite.svg#basket"></use>
                </svg>
              </a>
              <a href="products-card__link">
                <svg class="products-card__heart">
                  <use xlink:href="images/sprite.svg#like-icon"></use>
                </svg>
              </a>
            </div>
            <div class="products-card__name">Wooden radio</div>
            <span class="products-card__num"><span class="products-card__value">$</span>29.00</span>
          </article>
          <article class="products-card  mix category-b">
            <a class="products-card__wrapper" href="#"></a>
            <a class="products-card__link" href="#">
              <img class="products-card__img" src="images/products/chair-2.png" alt="chair">
            </a>
            <div class="products-card__nav">
              <button class="products-card__btn">
                <svg class="products-card__search">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </button>
              <a class="products-card__link" href="#">
                <svg class="products-card__basket">
                  <use xlink:href="images/sprite.svg#basket"></use>
                </svg>
              </a>
              <a href="products-card__link">
                <svg class="products-card__heart">
                  <use xlink:href="images/sprite.svg#like-icon"></use>
                </svg>
              </a>
            </div>
            <div class="products-card__name">Wooden chair</div>
            <span class="products-card__num"><span class="products-card__value">$</span>29.00</span>
          </article>
          <article class="products-card  mix category-c">
            <a class="products-card__wrapper" href="#"></a>
            <a class="products-card__link" href="#">
              <img class="products-card__img" src="images/products/chair-3.png" alt="chair">
            </a>
            <div class="products-card__nav">
              <button class="products-card__btn">
                <svg class="products-card__search">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </button>
              <a class="products-card__link" href="#">
                <svg class="products-card__basket">
                  <use xlink:href="images/sprite.svg#basket"></use>
                </svg>
              </a>
              <a href="products-card__link">
                <svg class="products-card__heart">
                  <use xlink:href="images/sprite.svg#like-icon"></use>
                </svg>
              </a>
            </div>
            <div class="products-card__name">White chair</div>
            <span class="products-card__num"><span class="products-card__value">$</span>29.00</span>
          </article>
          <article class="products-card  mix category-a">
            <a class="products-card__wrapper" href="#"></a>
            <a class="products-card__link" href="#">
              <img class="products-card__img" src="images/products/chair-4.png" alt="chair">
            </a>
            <div class="products-card__nav">
              <a class="products-card__link-search" href="#">
                <button class="products-card__btn">
                  <svg class="products-card__search">
                    <use xlink:href="images/sprite.svg#search"></use>
                  </svg>
                </button>
                <a class="products-card__link" href="#">
                  <svg class="products-card__basket">
                    <use xlink:href="images/sprite.svg#basket"></use>
                  </svg>
                </a>
                <a href="products-card__link">
                  <svg class="products-card__heart">
                    <use xlink:href="images/sprite.svg#like-icon"></use>
                  </svg>
                </a>
            </div>
            <div class="products-card__name">Retro table</div>
            <span class="products-card__num"><span class="products-card__value">$</span>29.00</span>
          </article>
          <article class="products-card  mix category-c">
            <a class="products-card__wrapper" href="#"></a>
            <a class="products-card__link" href="#">
              <img class="products-card__img" src="images/products/chair-5.png" alt="chair">
            </a>
            <div class="products-card__nav">
              <button class="products-card__btn">
                <svg class="products-card__search">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </button>
              <a class="products-card__link" href="#">
                <svg class="products-card__basket">
                  <use xlink:href="images/sprite.svg#basket"></use>
                </svg>
              </a>
              <a href="products-card__link">
                <svg class="products-card__heart">
                  <use xlink:href="images/sprite.svg#like-icon"></use>
                </svg>
              </a>
            </div>
            <div class="products-card__name">Wooden radio</div>
            <span class="products-card__num"><span class="products-card__value">$</span>29.00</span>
          </article>
          <article class="products-card  mix category-b">
            <a class="products-card__wrapper" href="#"></a>
            <a class="products-card__link" href="#">
              <img class="products-card__img" src="images/products/chair-6.png" alt="chair">
            </a>
            <div class="products-card__nav">
              <button class="products-card__btn">
                <svg class="products-card__search">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </button>
              <a class="products-card__link" href="#">
                <svg class="products-card__basket">
                  <use xlink:href="images/sprite.svg#basket"></use>
                </svg>
              </a>
              <a href="products-card__link">
                <svg class="products-card__heart">
                  <use xlink:href="images/sprite.svg#like-icon"></use>
                </svg>
              </a>
            </div>
            <div class="products-card__name">Wooden chair</div>
            <span class="products-card__num"><span class="products-card__value">$</span>29.00</span>
          </article>
          <article class="products-card  mix category-d">
            <a class="products-card__wrapper" href="#"></a>
            <a class="products-card__link" href="#">
              <img class="products-card__img" src="images/products/chair-7.png" alt="chair">
            </a>
            <div class="products-card__nav">
              <button class="products-card__btn">
                <svg class="products-card__search">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </button>
              <a class="products-card__link" href="#">
                <svg class="products-card__basket">
                  <use xlink:href="images/sprite.svg#basket"></use>
                </svg>
              </a>
              <a href="products-card__link">
                <svg class="products-card__heart">
                  <use xlink:href="images/sprite.svg#like-icon"></use>
                </svg>
              </a>
            </div>
            <div class="products-card__name">White chair</div>
            <span class="products-card__num"><span class="products-card__value">$</span>29.00</span>
          </article>
          <article class="products-card mix category-d">
            <a class="products-card__wrapper" href="#"></a>
            <a class="products-card__link" href="#">
              <img class="products-card__img" src="images/products/chair-8.png" alt="chair">
            </a>
            <div class="products-card__nav">
              <button class="products-card__btn">
                <svg class="products-card__search">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </button>
              <a class="products-card__link" href="#">
                <svg class="products-card__basket">
                  <use xlink:href="images/sprite.svg#basket"></use>
                </svg>
              </a>
              <a href="products-card__link">
                <svg class="products-card__heart">
                  <use xlink:href="images/sprite.svg#like-icon"></use>
                </svg>
              </a>
            </div>
            <div class="products-card__name">Retro table</div>
            <span class="products-card__num"><span class="products-card__value">$</span>29.00</span>
          </article>
        </div>

      </div>
    </section>
    <section class="view-more">
      <div class="container container--large">
        <div class="view-more__inner">
          <h3 class="sr-only">More card products</h3>
          <div class="view-cards">
            <a class="view-cards__wrapper" href="#"></a>
            <div class="view-cards__item">
              <img class="view-cards__img lamp--01" src="images/view-more/lamp01.png" alt="lamp">
            </div>
            <div class="view-cards__item">
              <div class="view-cards__name">Mirum Notare Tellus</div>
              <div class="view-cards__text text">
                <p>LEDCornBulb Lamp 5W 7W 10W 12W 15W E26 E27LEDCornLight</p>
              </div>
              <a class="view-cards__link btn">
                View More
                <svg class="view-cards__arrow" style="width: 21px; height: 21px">
                  <use xlink:href=" images/sprite.svg#arrow"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="view-cards">
            <a class="view-cards__wrapper" href="#"></a>
            <div class="view-cards__item">
              <img class="view-cards__img lamp--02" src="images/view-more/lamp02.png" alt="lamp">
            </div>
            <div class="view-cards__item">
              <div class="view-cards__name">Malesuada Tempor
                Euismod</div>
              <div class="view-cards__text text">
                <p>50W 8000lm Compact Size for HID StreetLightReplacementLEDCornLight</p>
              </div>
              <a class="view-cards__link btn">
                View More
                <svg class="view-cards__arrow" style="width: 21px; height: 21px">
                  <use xlink:href=" images/sprite.svg#arrow"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <section class="new-design">
      <div class="container container--large">
        <div class="new-design__title title">New Design</div>
        <div class="filter">
          <button class="filter__btn" data-filter="all" type="button">All</button>
          <button class="filter__btn" data-filter=".category-a" type="button">Furnitures</button>
          <button class="filter__btn" data-filter=".category-b" type="button">Chairs</button>
          <button class="filter__btn" data-filter=".category-c" type="button">Lighting</button>
          <button class="filter__btn" data-filter=".category-d" type="button">Decor</button>
        </div>

        <div class="new-design__items">
          <article class="design-card mix category-a">
            <a class="design-card__wrapper" href="#"></a>
            <div class="design-card__name">Beat Flat Pendant
              Black</div>
            <div class="design-card__category">Classic</div>
            <a class="design-card__link" href="#">
              <img class="design-card__img img--1" src="images/new-design/sofa-01.png" alt="sofa">
            </a>
          </article>
          <article class="design-card mix category-d">
            <a class="design-card__wrapper" href="#"></a>
            <div class="design-card__name">Lampe Sur Pieds
              Bamboo</div>
            <div class="design-card__category">Classic</div>
            <a class="design-card__link" href="#">
              <img class="design-card__img img--2" src="images/new-design/bed-01.png" alt="sofa">
            </a>
          </article>
          <article class="design-card mix category-b">
            <a class="design-card__wrapper" href="#"></a>
            <div class="design-card__name">Rattan Rocking
              Chair</div>
            <div class="design-card__category">Classic</div>
            <a class="design-card__link" href="#">
              <img class="design-card__img img--3" src="images/new-design/chair-01.png" alt="sofa">
            </a>
          </article>
          <article class="design-card mix category-c">
            <a class="design-card__wrapper" href="#"></a>
            <div class="design-card__name">Rattan Rocking
              Chair</div>
            <div class="design-card__category">Classic</div>
            <a class="design-card__link" href="#">
              <img class="design-card__img img--4" src="images/new-design/bed-02.png" alt="sofa">
            </a>
          </article>
          <article class="design-card mix category-b">
            <a class="design-card__wrapper" href="#"></a>
            <div class="design-card__name">Rattan Rocking
              Chair</div>
            <div class="design-card__category">Classic</div>
            <a class="design-card__link" href="#">
              <img class="design-card__img img--5" src="images/new-design/chair-02.png" alt="sofa">
            </a>
          </article>
          <article class="design-card mix category-a">
            <a class="design-card__wrapper" href="#"></a>
            <div class="design-card__name">Lampe Sur Pieds
              Bamboo</div>
            <div class="design-card__category">Classic</div>
            <a class="design-card__link" href="#">
              <img class="design-card__img img--6" src="images/new-design/sofa-02.png" alt="sofa">
            </a>
          </article>
        </div>
      </div>
    </section>
    <div class="video-view">
      <h2 class="sr-only">Video view furniture</h2>
      <a data-fancybox class="video-view__link" style="background-image: url('images/video/video-01.png');"
        href="https://youtu.be/X94PWUcSA58">
        <div class="video-view__circle">
          <svg class="video-view__play">
            <use xlink:href=" images/sprite.svg#play"></use>
          </svg>
        </div>

      </a>
    </div>
    <section class="our-insights">
      <div class="container">
        <div class="our-insights__wrapper">
          <h3 class="our-insights__title title">Our Insights & Articles</h3>
          <a href="" class="our-insights__link">View All
            <svg class="our-insights__arrow">
              <use xlink:href=" images/sprite.svg#arrow-right"></use>
            </svg>
          </a>
        </div>
        <div class="our-insights__items">
          <article class="information-card">
            <a class="information-card__wrapper" href="#"></a>
            <img class="information-card__img" src="images/our-insights/photo-01.jpg" alt="photo-01">
            <div class="information-card__info">NEWS</div>
            <div class="information-card__list">
              <div class="information-card__text information-card__text--1">
                <p>Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
              </div>
              <div class="information-card__bottom"> 28 JANUARY, 2020</div>
              <div class="information-card__bottom"> BY ADMIN</div>
            </div>
          </article>
          <article class="information-card">
            <a class="information-card__wrapper" href="#"></a>
            <img class="information-card__img" src="images/our-insights/photo-02.jpg" alt="photo-02">
            <div class="information-card__info">NEWS</div>
            <div class="information-card__list">
              <div class="information-card__text information-card__text--2">
                <p>Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
              </div>
              <div class="information-card__bottom"> 28 JANUARY, 2020</div>
              <div class="information-card__bottom"> BY ADMIN</div>
            </div>
          </article>
          <article class="information-card">
            <a class="information-card__wrapper" href="#"></a>
            <img class="information-card__img" src="images/our-insights/photo-03.jpg" alt="photo-03">
            <div class="information-card__info">NEWS</div>
            <div class="information-card__list">
              <div class="information-card__text information-card__text--3">
                <p>Rncididunt ut labore et dolore magna aliqua. Ut enim </p>
              </div>
              <div class="information-card__bottom"> 28 JANUARY, 2020</div>
              <div class="information-card__bottom"> BY ADMIN</div>
            </div>
          </article>
        </div>
    </section>
    <div class="companions">
      <div class="container">
        <div class="companions__inner">
          <img class="logo logo-1" src="images/companions/companion-1.png" alt="logo-1">
          <img class="logo logo-2" src="images/companions/companion-2.png" alt="logo-2">
          <img class="logo logo-3" src="images/companions/companion-3.png" alt="logo-3">
          <img class="logo logo-4" src="images/companions/companion-4.png" alt="logo-4">
          <img class="logo logo-5" src="images/companions/companion-5.png" alt="logo-5">
        </div>
      </div>
    </div>
  </main>

  {% include ('app/modules/footer/_footer.html') %}

  <script src="js/main.min.js"></script>

</body>

</html>