<header class="header">
  <div class="container container--large">
    <nav class="header__inner">
      <a class="logo" href="#" style="width: 146px; height: 39;">
        <img class="logo__img" src="images/logo.png" alt="logo">
      </a>

      <ul class="menu">
        <li class="menu__item">
          <a class="menu__link" href="#">Home +1</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">About</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Services</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Pages +</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#"> News</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Contact</a>
        </li>
      </ul>

      <div class="use">
        <div class="use__item item--1">
          <button class="use__btn-search circle" type="button">
            <svg class="use__search" style="width: 16px; height: 16px">
              <use xlink:href="images/sprite.svg#search"></use>
            </svg>
          </button>
        </div>
        <div class="use__item item--2">
          <a class="use__link-heart circle" href="#">
            <svg class="use__heart">
              <use xlink:href="images/sprite.svg#like-icon"></use>
            </svg>
            <span class="use__span-heart">0</span>
          </a>
        </div>
        <div class="use__item item--3">
          <a class="use__link-basket circle" href="#">
            <svg class="use__basket">
              <use xlink:href="images/sprite.svg#basket"></use>
            </svg>
            <span class="use__span-basket">0</span>
          </a>
        </div>
        <div class="use__item item--4">
          <button class="use__btn-menu circle" type="button">
            <svg class="use__menu" style="width: 21px; height: 21px">
              <use xlink:href=" images/sprite.svg#menu-icon"></use>
            </svg>
          </button>
        </div>
      </div>
    </nav>
  </div>
  <h1 class="sr-only">Glee internet shop</h1>
</header>